{% extends 'base.html.twig' %}
{% block title %}Snow Tricks{% endblock %}

{% block body %}
{# home picture #}
    <img src="images/home.jpg" class="img-fluid" alt="Responsive image">

    <div class="container-fluid">
        <br>
        <div class="row justify-content-start">
        {% for trick in tricks %}
            <div class="col-lg-2 col-md-10 mx-auto">
                  <div class="card mb-3">
                    <img  src="{{trick.image}}" class="img-fluid" alt="Responsive image" alt="Card image">
                        <div class="card-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6 col-md-auto mx-auto">
                                        <p><a href="{{path('trick', {'id':trick.id})}}">{{trick.name}}</a>
                                    </div>
                            {% if app.user %}
                                        <div class="col-lg-3 col-md-auto mx-auto">
                                            <a href="{{path('edittrick', {'id':trick.id})}}"><i class="fas fa-edit"></i></a>
                                        </div>
                                        <div class="col-lg-3 col-md-auto mx-auto">
                                            <a href="{{path('deltrick', {'id':trick.id})}}"><i class="fas fa-trash-alt"></i></a></p>
                                        </div> 
                            {% endif %}
                                    </div>
                                </div>
                        </div>
                      </div>
                  </div>
        {% endfor %}
          </div>
      </div>

{% endblock body %}