{% extends 'base.html.twig' %}
{% block title %}Snow Tricks{% endblock %}


{% block body %}

    <img src="{{ asset('images/home.jpg') }}" class="img-fluid" alt="Responsive image">


    <div class="container-fluid">


        {% for message in app.flashes('deleteTrick') %}
        <div class="container mt-2">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        <br>



        <div class="row">
            {% for trick in tricks %}
            <div class="col-lg-2 col-md-auto mx-auto">
        <div class="card mb-3">
            <h3 class="card-header"><a href="{{path('trick', {'id':trick.id})}}">{{trick.name}}</a></h3>
            <img style="width:222px;height:222px;object-fit:cover" src="{{asset('/uploads/images/'~ trick.defaultImage)}}" alt="Card image" class="rounded mx-auto d-block img-fluid">
            {% if app.user %}
            <div style="text-align: center" class="card-body">
                <a href="{{path('edittrick', {'id':trick.id})}}"><i class="fas fa-edit"></i></a>
                <a href="{{path('confirmeDeleteTrick', {'id':trick.id})}}"><i class="fas fa-trash-alt"></i></a>
            </div>
            {% endif %}
            <div class="card-footer text-muted">
                Ajouté le {{ trick.createdAt| date("d/m/Y") }}
            </div>
        </div>
            </div>
            {% endfor %}
        </div>




{% endblock body %}
