{% extends 'base.html.twig' %}
{% block title %}Gestion de mon profil{% endblock %}


{% block body %}

    <div class="container">
        <br>
        <h1>Gestion de mon profil</h1>
        <div class="row">
            <div class="col-lg-6 col-md-10 mx-auto">
                 {{ form_start(form) }}
                    {{ form_row(form.profilImage) }}
                    <p><button type="submit" class="btn btn-success">Mettre à jour</button></p>
                {{ form_end(form) }}

                <p>Mon nom d'utilisateur : <strong>{{ app.user.username }}</strong></p>
                <p>Mon adresse Email : <strong>{{ app.user.email }}</strong></p>
                <p>Mon statut :
                    {% for role in app.user.roles %}
                    <strong>{{ role }}</strong>
                    {% endfor %}
                </p>


                {% for message in app.flashes('profilUpdate') %}
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

                
{% endblock body %}