{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>Gestion des membres</h1>
        <div class="row">
            <div class="col-lg-12 col-md-10 mx-auto">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h4> Il y'a
                    {% if users | length == 0 %}
                    aucun membre
                    {% elseif users | length == 1 %}
                    {{ users | length }} membre inscrit
                    {% else %}
                    {{ users | length }} membres inscrits
                    {% endif %}
                </h4>

                {% for user in users %}
                    <p><strong style="color:#FB9C04">{{user.username}}</strong> membre depuis le {{ user.createdAt | date("d/m/Y") }}
                        | <a href="{{ path('deleteUser', {'id':user.id}) }}">Supprimer <i class="fas fa-trash-alt"></i></a>
                    </p>
                {% endfor %}

                {% for message in app.flashes('deleteUser') %}
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    </div>

{% endblock body %}