{% extends 'base.html.twig' %}
{% block title %}Modifier un Trick{% endblock %}

{% block body %}

    <br>
    <div class="container">
        <h1>Modifier un Trick</h1>
        <div class="col-lg-6 col-md-10 mx-auto">

            {{ form_start(form) }}
            {{ form_row(form._token) }}
            <div class="row">
                <div class="col-lg-6 col-md-auto mx-auto">
                    {{ form_row(form.name, {'label':'* Nom du Trick','attr':{'placeholder': 'Entrez le nom du Trick'}}) }}
                </div>
                <div class="col-lg-6 col-md-auto mx-auto">
                    {{ form_row(form.category, {'label':'* Catégorie'} ) }}
                </div>
            </div>
            {{ form_row(form.defaultImage, {'label' : '* Image principale'}) }}

            <strong>Image supplémentaire</strong>
            <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                {% for image in form.images %}
                    {{ form_row(image) }}
                {% endfor %}
            </ul>
            <br>
            <strong>vidéo supplémentaire</strong>
            <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                {% for video in form.videos %}
                    {{ form_row(video) }}
                {% endfor %}
            </ul>
            {{ form_row(form.description, {'label':'* Déscription du Trick'}) }}

            <p>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-success">Modifier</button>
                <button type="reset" class="btn btn-danger">Effacer</button>
                <a class="btn btn-info" href="{{ path('home') }}">Annuler</a>
                * Obligatoire
            </p>
            {{ form_end(form, { "render_rest": false }) }}

        </div>

    </div>

{% endblock body %}