{% extends 'base.html.twig' %}
{% block title %}Ajouter un Trick{% endblock %}

{% block body %}

    <br>
    <div class="container">
                <h1>Ajouter un Trick</h1>
                <div class="col-lg-6 col-md-10 mx-auto">

                    {{ form_start(form) }}
                    {{ form_row(form._token) }}
                    <div class="row">
                        <div class="col-lg-6 col-md-auto mx-auto">
                    {{ form_row(form.name, {'label':'* Nom du Trick','attr':{'placeholder': 'Entrez le nom du Trick'}}) }}
                    </div>
                        <div class="col-lg-6 col-md-auto mx-auto">
                    {{ form_row(form.category, {'label':'* Catégorie'} ) }}
                        </div>
                    </div>
                    {{ form_row(form.defaultImage, {'label' : '* Image principale'}) }}
                    <strong>Image supplémentaire</strong>
                    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                        {% for image in form.images %}
                            {{ form_row(image) }}
                        {% endfor %}
                    </ul>
                    <br>
                    <strong>vidéo supplémentaire</strong>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
                        Comment ?
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-5" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Comment envoyé une vidéo ?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ asset('images/upload_video.png') }}" class="img-fluid">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">J'ai compris</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                        {% for video in form.videos %}
                            {{ form_row(video) }}
                        {% endfor %}
                    </ul>
                    {{ form_row(form.description, {'label':'* Déscription du Trick'}) }}

                    <p>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" class="btn btn-success">Ajouter</button>
                        <button type="reset" class="btn btn-danger">Effacer</button>
                        * Obligatoire
                    </p>
                    {{ form_end(form, { "render_rest": false }) }}

                </div>

    </div>

{% endblock body %}