{% block form %}
{{ form_start(form) }}
    {{ form_row(form.name, {'label':'Nom du Trick','attr':{'placeholder': 'Entrez le nom du Trick'}}) }}
    {{ form_row(form.image) }}
    {{ form_row(form.video, {'label':'Vidéo'}) }}
    {{ form_row(form.description, {'label':'Déscription du Trick'}) }}
    {{ form_row(form.category, {'label':'Catégorie'} ) }}
    <p>
        <button type="submit" class="btn btn-success">Ajouter</button>
        <button type="reset" class="btn btn-danger">Effacer</button>
    </p>
{{ form_end(form) }}
{% endblock %}