{% block form %}
    {{form_start(form)}}
        {{ form_row(form.username, {'label':'Votre pseudo*','attr':{'placeholder': 'Entrez votre nom d\'utilisateur'}}) }}
        {{ form_row(form.email, {'label':'Adresse Email*','attr':{'placeholder': 'Entrez votre adresse Email'}}) }}
        {{ form_row(form.profileImage, {'label':'Photo de profil (image au format PNG)','attr':{'placeholder': 'Selectionnez votre photo de profile'}}) }}
        {{ form_row(form.password, {'label':'Mot de passe*','attr':{'placeholder': 'Entrez votre mot de passe'}}) }}
        <p>
            <button type="submit" class="btn btn-success">S'inscrire</button> 
            <button type="reset" class="btn btn-danger">Effacer</button>
            * Obligatoire
        </p>
    {{form_end(form)}}
{% endblock %}