{% extends 'base.html.twig' %}
{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>{{ trick.name }}</h1>
        <div class="row">
            <div class="col-lg-12 col-md-6 mx-auto">
                {% for message in app.flashes('comment') %}
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}


                <div>
                    {% if is_granted('ROLE_USER') %}
                        <a class="" href="{{ path('edittrick', {'id':trick.id}) }}">
                            Modifié <i class="fas fa-edit"></i>
                        </a>
                    {% endif %}
                    <img src="{{asset('/uploads/images/'~ trick.defaultImage.getFileName)}}" class="rounded mx-auto d-block img-fluid" alt="Image principale">
                    </div>


                    <br>
                <div class="alert alert-dismissible alert-secondary">
                    <p>{{ trick.description }}</p>
                    <p class="italicgrey">Auteur : {{ trick.author }}. Ajouté le {{ trick.createdAt| date("d/m/Y") }} {% if trick.updatedAt %} - Modifié le {{ trick.updatedAt | date("d/m/Y") }} {% endif %} dans la catégorie {{ trick.category.name }} </p>
                </div>
            </div>

            <div class="col-lg-12 col-md-6 mx-auto">
                {% for image in trick.images %}
                    {% if is_granted('ROLE_USER') %}
                        <a class="" href="{{ path('edittrick', {'id':trick.id}) }}">
                            Modifié <i class="fas fa-edit"></i>
                        </a>
                    {% endif %}
                <img style="float:left;width:222px;height:222px;object-fit:cover" src="{{'/uploads/images/'~ asset(image.getFilename) }}" alt="Image supplémentaire" class="img-fluid">
                 {% endfor %}
            </div>

            <div class="col-lg-12 col-md-6 mx-auto">
                    {% for video in trick.videos %}
                    {{ video.getUrl }}
                    {% endfor %}
            </div>

            </div>
        </div>

    <div class="col-lg-8 col-md-6 mx-auto">
        <hr>
        {% if app.user %}

        <h3>Ecrire un commentaire</h3>

            {% form_theme form 'theme/comment_type.html.twig' %}
            {{form(form)}}

        {% else %}
            <p class="p_center">Vous devez être connecté pour commenter.</p>
            <p class="p_center"><a class="italic" href="{{path('login')}}">Connectez-vous</a> ou <a class="italic" href="{{path('register')}}">créez un compte</a>
        {% endif %}
            </p>
    </div>
        <hr>
        <div class="col-lg-8 col-md-12 mx-auto">
            <h3>
                {% if trick.comments | length == 0 %}
                    <h4 class="p_center">Aucun commentaire pour ce Trick. Soyez le premier à commenter.</h4> 
                {% elseif trick.comments | length == 1 %}
                    {{trick.comments | length}} Commentaire
                {% else %}
                    {{trick.comments | length}} Commentaires
                {% endif %}
            </h3>

            {% for comment in trick.comments %}
                <div class="alert alert-dismissible alert-secondary">
                    <p><img src="{{asset('/uploads/images/' ~ app.user.profilImage)}}"/> {{ comment.pseudo }} le {{ comment.createdAt | date("d/m/Y à H:i:s") }}</p>
                    <p>A écrit : {{ comment.message }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}