{% extends 'base.html.twig' %}
{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>{{ trick.name }}</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 mx-auto">
                {% for message in app.flashes('comment') %}
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>


                <div class="col-lg-12 col-md-6 mx-auto">
                    {% if is_granted('ROLE_USER') %}
                        <a class="" href="{{ path('edittrick', {'id':trick.id}) }}">
                            Modifié <i class="fas fa-edit"></i>
                        </a>
                    {% endif %}

                    <br>

                    <img style="width:1100px;height:700px;object-fit:cover" src="{{asset('/uploads/images/'~ trick.defaultImage)}}" class="rounded mx-auto d-block img-fluid" alt="Image principale">
                    <hr>
                    <div class="alert alert-dismissible alert-secondary">
                    <p>{{ trick.description }}</p>
                    <p class="italicgrey">Auteur : {{ trick.author.getUserName }}. Ajouté le {{ trick.createdAt| date("d/m/Y") }} {% if trick.updatedAt %} - Modifié le {{ trick.updatedAt | date("d/m/Y") }} {% endif %} dans la catégorie {{ trick.category.name }} </p>
                </div>
            </div>

            <div class="col-lg-12 col-md-6 mx-auto media">
                {% if trick.images %}
                {% for image in trick.images %}
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('edittrick', {'id':trick.id}) }}">
                            <span>
                            <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    {% endif %}
                <img style="float:left;width:222px;height:222px;object-fit:cover" src="{{'/uploads/images/'~ asset(image.getUrl) }}"  class="img-fluid">
                {% endfor %}
                {% endif %}

                {% if trick.videos %}
                {% for video in trick.videos %}
                <div class="embed-responsive embed-responsive-4by3">

                    <iframe width="460" height="215" src="https://www.youtube.com/embed/{{ video.getUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endfor %}
                {% endif %}
            </div>



            </div>
        </div>

    <div class="col-lg-8 col-md-6 mx-auto">
        <hr>
        {% if app.user %}

        <h3>Espace de discussion</h3>

            {% form_theme form 'theme/comment_type.html.twig' %}
            {{form(form)}}

        {% else %}
            <p class="p_center">Vous devez être connecté pour commenter.</p>
            <p class="p_center"><a class="italic" href="{{path('login')}}">Connectez-vous</a> ou <a class="italic" href="{{path('register')}}">créez un compte</a>
        {% endif %}
            </p>
    </div>
        <hr>
        <div class="col-lg-8 col-md-12 mx-auto">
            <h3>
                {% if trick.comments | length == 0 %}
                    <h4 class="p_center">Aucun commentaire pour ce Trick. Soyez le premier à commenter.</h4> 
                {% elseif trick.comments | length == 1 %}
                    {{trick.comments | length}} Commentaire
                {% else %}
                    {{trick.comments | length}} Commentaires
                {% endif %}
            </h3>

            {% for comment in trick.comments %}
                <div class="alert alert-dismissible alert-secondary">
                    <p><img src="{{asset('/uploads/images/' ~ app.user.profilImage)}}"/> {{ comment.pseudo }} le {{ comment.createdAt | date("d/m/Y à H:i:s") }}</p>
                    <p>A écrit : {{ comment.message }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}