{% extends 'base.html.twig' %}
{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>{{ trick.name }}</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 mx-auto">
                {% for message in app.flashes('comment') %}
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>


                <div class="col-lg-12 col-md-auto mx-auto">
                    {% if is_granted('ROLE_USER') %}
                        <p style="text-align: right">
                            <a class="btn btn-primary" href="{{ path('edittrick', {'slug':trick.slug}) }}">Modifié le Trick
                             <i class="fas fa-edit"></i></a>
                        </p>
                    {% endif %}
                    <p style="text-align: center; width:auto;height:auto"><img src="{{asset('/uploads/images/'~ trick.defaultImage.url)}}" class="img-fluid img-thumbnail" alt="Image principale"></p>
                    <hr>
                    </div>
            <div class="col-lg-12 col-md-auto mx-auto">
                    <div class="alert alert-dismissible alert-secondary">
                    <p>{{ trick.description }}</p>
                    <p class="italicgrey">Auteur : {{ trick.author.getUserName }}. Ajouté le {{ trick.createdAt| date("d/m/Y") }}
                        {% if trick.updatedAt %}
                            - Modifié le {{ trick.updatedAt | date("d/m/Y") }}
                        {% endif %} dans la catégorie {{ trick.category.name }}
                    </p>
                    </div>
                </div>
            </div>


                {% if trick.images %}
                    <div class="container">
                        <div class="row">
                {% for image in trick.images %}
                            <div class="col-lg-4 col-md-auto mx-auto">
                        <p style="text-align: center"><img style="width:222px;height:222px;object-fit:cover" src="{{'/uploads/images/'~ asset(image.getUrl) }}"  class="img-fluid img-thumbnail"></p>
                            </div>
                {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <br>
                {% if trick.videos %}
                    <div class="container">
                    <div class="row">
                {% for video in trick.videos %}
                        <div class="col-lg-4 col-md-auto mx-auto">
                        <div class="embed-responsive embed-responsive-16by9">
                     {{ video.getUrl | raw }}
                        </div>
                        </div>
                {% endfor %}
                    </div>
                    </div>
                {% endif %}
            </div>
        </div>

    <div class="col-lg-8 col-md-6 mx-auto">
        <hr>
        {% if app.user %}

        <h3>Espace de discussion</h3>

            {% form_theme form 'theme/comment_type.html.twig' %}
            {{form(form)}}

        {% else %}
            <p class="p_center">Vous devez être connecté pour commenter.</p>
            <p class="p_center"><a class="italic" href="{{path('login')}}">Connectez-vous</a> ou <a class="italic" href="{{path('register')}}">créez un compte</a>
        {% endif %}
            </p>
    </div>
        <hr>
        <div class="col-lg-8 col-md-12 mx-auto">
            <h3>
                {% if trick.comments | length == 0 %}
                    <h4 class="p_center">Aucun commentaire pour ce Trick. Soyez le premier à commenter.</h4> 
                {% elseif trick.comments | length == 1 %}
                    {{trick.comments | length}} Commentaire
                {% else %}
                    {{trick.comments | length}} Commentaires
                {% endif %}
            </h3>

            {% for comment in trick.comments %}
                <div class="alert alert-dismissible alert-secondary">
                    <p>{% if comment.author.getProfilImage %}
                        <img src="{{asset('/uploads/images/' ~ comment.author.getProfilImage)}}"/>
                            {% else %}
                                <i class="far fa-grin fa-2x"></i>
                        {% endif %}
                        {{ comment.author.username }} le {{ comment.createdAt | date("d/m/Y à H:i:s") }}</p>
                    <p>A écrit : {{ comment.message }}</p>
                </div>
            {% endfor %}
        </div>
{% endblock body %}